/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* body {
     
} */


/******************************************
/* LAYOUT
/*******************************************/
/* 
Light-Blue: #66768a
Gray: #dbdfe2
Dark-Blue: #161f2a
*/
header,
footer {
     clear: both;
}

header {
     height: 600px;
     background: #66768a;
}

footer {
     height: 150px;
     background: #161f2a;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.logo {
     height: 40px;
}